html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 12px;
    color: #203165;
}