h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-bottom: 4px;
    margin-top: 2px;
    align-self: center;

}

p {
    font-weight: 500;
    text-decoration: inherit;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    color: black;
}

input {
    text-align: left;
    position: relative;
    border-radius: 2px;
    border-width: 1px;
    width: auto;
    height: 18px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    height: 100%;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.hora-extra,
.result {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #F1F6F9;
    position: relative;
}

.container-hora-extra {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    background-color: #3bb2ca34;
    border-radius: 20px;
    box-shadow: #00000036 6px 7px 4px;
    margin: 25px;
}

.result {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    background-color: #3bb2ca34;
    border-radius: 20px;
    box-shadow: #00000036 6px 7px 4px;
    margin: 25px;
}

.form-item {
    margin-bottom: 5px;
    font: 'Calibre';
    font-size: large;
    color: black;
}