.container-hora-extra {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.content-hora-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.ant-form-item {
    width: 100%;
}

.ant-input-number {
    width: 100%;
}

.hora-dsr {
    display: grid;
    column-gap: 24px;
}

.hora-btns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 570px) {
    .container-hora-extra {
        padding: 8px;
    }

    .content-hora-extra,
    .result {
        width: 100%;
        align-items: center;
    }

    .content-hora-extra.ant-card {
        width: 100%;
    }

    .content-hora-extra.ant-space-item {
        width: 100%;
    }

    .ant-form-item,
    .ant.btn {
        width: 60%;
    }
}