.content-noturno,
.result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    box-sizing: border-box;
}

.content-noturno.ant-card {
    width: 100%;
    max-width: 1400px;
    margin-bottom: 20px;
}