.h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.p {
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.introducao {
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

.introducao p {
  font-size: larger;
}

.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item {
  height: 200px;
  color: #fff;
  line-height: 65px;
  text-align: center;
  text-justify: auto;
  background: #2d4de6;
  border-radius: 8px;
}

.carousel-item h3 {
  margin: 0;
  font-size: 2em;
}

.carousel-item p {
  margin: 0;
  font-size: 1.5em;
}

.carousel-item li {
  display: inline-block;
  padding: 20px;
}