.homeContent {
  max-width: 100%;
  box-sizing: border-box;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.p {
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.introducao {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.carousel {
  background-color: rebeccapurple;
  max-width: 100%;
  margin: 0 auto;
  min-height: fit-content;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 200px;
  color: black;
  background: #2d4de6;
  border-radius: 8px;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.carousel-item h3 {
  margin: 0;
  font-size: 2em;
}

.carousel-item p {
  margin: 0;
  font-size: 1.5em;
}

.carousel-item li {
  display: inline-block;
  padding: 20px;
}

.ant-layout-content {
  padding: 24px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .carousel-item h3 {
    font-size: 1.5em;
  }

  .carousel-item p {
    font-size: 1.2em;
  }

  .carousel-item {
    line-height: 1.5;
    padding: 15px;
  }
}