.ant-card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.steps {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.tipoDeRescisao {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}