.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container .nav-container {
    width: 100%;
    background-color: #4d58916e;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.container .nav-container p {
    font-size: medium;
    text-align: justify;
    padding: 0 24px 0 24px;
}

.container .ant-card {
    margin: 12px;
    min-width: 200px;
    width: 60vh;
}

.ant-btn-primary {
    background-color: #4d5891;
}

@media (max-width: 578px) {
    .container .ant-card {
        width: 100%;
    }

    .container .ant-card-body {
        padding: 4px;
    }

    .container .ant-table-content {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    .container .ant-btn {
        margin-bottom: 6px;
    }

    ;

    .ant-table-summary {
        font-size: 12px !important;
    }
}