.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .nav-container {
    width: 100%;
    background-color: #4d58916e;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.container .nav-container p {
    font-size: medium;
    text-align: justify;
    padding: 0 24px 0 24px;
}

.container .ant-card {
    margin: 12px;
    min-width: 400px;
    width: 60vh;
}

.ant-btn-primary {
    background-color: #4d5891;
}

@media (max-width: 578px) {
    .ant-card {
        width: 100%;
    }
}