.ant-layout-header {
  max-width: 100%;
  height: 64px;
  padding: 0;
  line-height: 0px;
  display: flex;
  align-items: center;
  background-color: #4d5891;
}

.ant-menu {
  height: 100%;
  border: none;
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #4d5891;
}

img.header-img {
  height: 50px;
  width: auto;
  margin: 0px 12px 0px 30px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: #4d5891;
}

.ant-menu-horizontal>.ant-menu-item {
  padding: 0 20px;
}

.ant-menu-item-selected {
  padding: 0 20px;
  background-color: transparent !important;
  color: #a2a9e9 !important;
}

@media (max-width: 768px) {
  .ant-layout-header {
    height: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  img.header-img {
    margin: 0px 00px 24px 00px;
  }

  .h1 {
    font-size: 1.8em;
  }

  .p {
    font-size: 1em;
    padding: 10px;
  }
}