.ant-layout-header {
  max-width: 100%;
  height: 64px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #4d5891;
  justify-content: flex-start;
}

.ant-menu {
  display: flex;
  width: 100%;
  background-color: #4d5891;
}

.header-logo {
  line-height: 1;
}

.header-content {
  width: 100%;
}

img.header-img {
  height: 50px;
  width: auto;
  margin: 0px 12px 0px 30px;
}

.ant-menu-horizontal>.ant-menu-item {
  padding: 0 20px;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: #a2a9e9 !important;
}

@media (max-width: 578px) {
  .ant-layout-header {
    height: auto;
    width: 100%;
    padding: 20px 0px 0px;
    display: block;
  }

  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
  }

  .header-content .ant-menu {
    width: 100%;
    justify-content: center;
    line-height: 46px;
  }

  img.header-img {
    margin: 0px 00px 24px 00px;
  }

  .h1 {
    font-size: 1.8em;
  }

  .p {
    font-size: 1em;
    padding: 10px;
  }
}