.AvisoCalculo .ant-card-head {
    border-bottom: none !important;
}

@media (max-width: 570px) {
    .h1 {
        font-size: 1.8em;
    }

    .p {
        font-size: 1em;
        padding: 10px;
    }
}