.AvisoCalculo .ant-card-head {
    border-bottom: none !important;
}

.AvisoCalculo {
    padding: 12px;
}

@media (max-width: 578px) {

    .h1 {
        font-size: 1.8em;
    }

    .p {
        font-size: 1em;
        padding: 10px;
    }
}