.container-sobre {
    display: flex;
    justify-content: center;
}

.container-sobre p {
    text-align: justify;
    margin: 18px;
}

.container-sobre .link {
    color: #4d5891;
}

.container-sobre .ant-card-head-title {
    font-size: xx-large;
}

.container-sobre .sobre {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: min-content;
    font-size: large;
    margin: 12px;
}

.calculos:hover,
.historia:hover {
    filter: drop-shadow(0px 0px 6px #2031656c);
}